.formAuthorization {
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #e8eaf1;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 80%);

  .fields {
    width: 360px;
    height: 50px;
  }

  .formAlert {
    position: absolute;
    top: 208px;
    left: 15%;
  }

  .inputErrorLogin {
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 13px;
    color: red;
  }

  .inputErrorPassword {
    position: absolute;
    top: 210px;
    left: 30px;
    font-size: 13px;
    color: red;
  }

  .switch {
    position: absolute;
    top: 225px;
    left: 30px;
    color: #fff;
  }
}
